- extends 'html.haml'

- load i18n

{% block title %}{% block subtitle %}{% endblock %}bergren{% endblock %}

- block head
  %meta{"http-equiv": "mobile-agent", "content": "format=xhtml; url\={{request.build_absolute_uri}}"}
  %meta{"name": "viewport", "content": "user-scalable=0, initial-scale=1.0"}
  - if meta_description
    %meta{"name": "description", "content": "{{meta_description}}"}
  %meta{"name": "apple-itunes-app", "content": "app-id=888566731"}
  %meta{"property": "qc:admins", "content": "255632553476100413151256375"}

  /[if lt IE 9]
    %script{"type": "text/javascript", "src": "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"}
  - block style

- block body
  - block header
  - block content
  - block footer

- block js


