- extends 'polls/base.haml'


- block content
  %h1
    {{question.question_text}}
  - if error_message
    %p
      %strong
        error_message
  %form{'action': '{% url "polls:vote" question.id %}', 'method': 'post'}
    - csrf_token
    - for choice in question.choice_set.all
      %input{'type': 'radio', 'name': 'choice', 'id': 'choice{{ forloop.counter }}', 'value': '{{choice.id}}'}
      %label{'for': 'choice{{forloop.counter}}'}
        {{choice.choice_text}}
    %input{'type': 'submit', 'value': 'Vote'}

  %a{'href': '{% url "polls:index" %}'}
    列表
