- extends 'polls/base.haml'


- block content
  {{latest_question_list}}
  - if latest_question_list
    %ul
      - for question in latest_question_list
        %li
          %a{'href': '{% url "polls:detail" question.id %}'}
            {{question.question_text}}
  - else
    %p
      No polls are available.

  %div
    {{request}}