- extends 'polls/base.haml'


- block content
  %h1
    {{question.question_text}}
  %ul
    - for choice in question.choice_set.all
      %li
        {{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}

  %a{'href': '{% url "polls:detail" question.id %}'}
    Vote again?

  %a{'href': '{% url "polls:index" %}'}
    列表
